body { 
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
}

a {
	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

.l-uppercase { text-transform: uppercase; }




.blog-title { 
	color: #1a1a1a;
}
.blog-title h1 {
	font-weight: bold;
	margin-top: 0;
}
.blog-title:hover {
	color: #7f7f7f;
	text-decoration: none;
}




.post-title {
	font-size: 48px;
	font-weight: bold;
}
.post-footer {
	margin-top: 40px;
}
.pagination {
	border-radius: 0;
	/*border-bottom: 2px solid #1a1a1a;*/
	margin: 0;
	text-align: right;
}
.site-footer {
	margin: 50px 0 0;
	bottom: 0;
}
.author {
	margin-top: 40px;
}
.author-image {
	display: inline-block;
	float: left;
}
.share a {
	margin: 0 15px;
	font-size: 30px;
	color: #1a1a1a;
}
.share a:hover {
	color: #7f7f7f;
	text-decoration: none;
}



.home-template .post-hover, .pagination {
	display: block;
	padding: 10px;
	border-top: 2px solid #1a1a1a;
}
.home-template .post-hover a {
	display: block;
	color: #1a1a1a;
}
.home-template .post-hover:hover {
	background-color: #1a1a1a;
}
.home-template .post-hover:hover a {
	color: #fff;
	text-decoration: none;
}
.home-template .post-title {
	margin-top: 15px;
	margin-bottom: 10px;
}





.post-template .post header {
	padding: 20px 0;
	margin-bottom: 20px;
	border-top: 2px solid #1a1a1a;
	border-bottom: 2px solid #1a1a1a;
}




@media screen and (max-width: 480px) {
	#site-head-content { text-align: center; }
	.blog-description { font-size: 24px; }
	.post-hover { padding: 5px; }
	.post-title { font-size: 24px; }
	.author { text-align: center; }
	.author-image { display: block; float: none; }
}